html {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
}

#home {
  background: url("../images/tavern-night.png") no-repeat top/cover;
  margin: -8px;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 6px 6px 0;
  z-index: 9999;
}

nav img {
  width: 40px;
  opacity: 0.4;
}

nav img:hover,
nav ul.menu li:hover img {
  opacity: 1;
}

nav ul.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  list-style-type: none;
  margin-right: 20px;
  padding: 0;
}

nav ul.menu li {
  margin-right: 25px;
  display: inline-flex;
  align-items: center;
}

nav ul.menu li img {
  margin-right: 8px;
  margin-bottom: 5px;
  vertical-align: middle;
  width: 15px;
}

nav ul.menu li h3 {
  margin: 0;
  display: inline;
}

nav ul.menu li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

nav ul.menu li a:hover {
  color: rgb(225, 225, 225);
}

header {
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 100px;
  margin: 0;
  padding-top: 15%;
}

#ip {
  padding: 0 30px 25px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin-top: 30px
}

#ip a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  display: inline-block;
}

#ip h3 {
  display: inline-block; 
  margin-right: 10px;
}

#ip img {
  width: 15px;
  display: inline-block;
}

a:hover#ip {
  color: rgb(225, 225, 225);
  font-weight: bold;
}

#notification {
  display: none;
  padding: 10px;
  margin-top: 15px;
  color: rgb(225, 225, 225);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

svg {
  width: calc(100% + 1.3px);
  height: 56px;
  transform: scale(-1, -1);
  margin-bottom: -4px;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

svg path {
  fill:#000;
}

#leaderboards {
  color: white;
  margin: 50px 0px 50px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 800;
  box-shadow: 0px 40px 50px rgba(0, 0, 0, 1);
}

#leaderboards table {
  margin-left: auto;
  margin-right: auto;
}

#leaderboard-table {
  border: 2px solid white;
  border-collapse: collapse;
  margin: 0px 10px 0px 10px;
}

#leaderboard-table th,
#leaderboard-table td {
  padding: 8px;
  text-align: left;
  border: 2px solid white;
  width: 155px;
}

#wiki {
  background-image: url(../images/sunrise.png) no-repeat top/cover;
  margin-left: -10px;
  margin-right: -10px;
  color: white;
}

#wiki div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

#wiki h1{
  font-size: 80px;
  text-align: center;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

button {
  font-weight: bold;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transform: translate(0, 0);
  transition: transform 0.3s ease;
}

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

button:hover {
  color: #6573a4;
  border: 2px solid white;
  background-color: white;
  transform: translateY(-5px);
}

/* .notice is specific to maintenance.html */
.notice {
  display: block;
  color: rgb(225, 225, 225);;
  background: rgb(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  width: 650px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}